body {
  font-family: Arial, sans-serif;
  background-color: #343a40;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  border: 2px solid #3d4852;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #2e353d;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.app-logo {
  width: 100px;
  height: auto;
}

.search-input {
  width: 97%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  margin-bottom: 20px;
  color: #0a2140;
  background-color: #ffffff;
}

.search-input:focus {
  outline: none;
  border-color: #0a2140;
  box-shadow: 0 0 0 0.2rem rgba(10, 33, 64, 0.25);
}

.books-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 20px;
}

.book-item {
  background-color: #f8f9fa;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book-card {
  padding: 10px;
  text-align: left;
}

.book-card h3 {
  margin-bottom: 5px;
  color: #0a2140;
}

.book-card p {
  margin: 5px 0;
  color: #0a2140;
}
